* {
  font-family: 'Fjalla One', sans-serif;
}

body {
  max-width: 60%;
  max-height: 50%;
  min-height: 595px;
  min-width: 456px;
  margin: auto;
}

main {
  height: 300px;
  left: auto;
}

select {
  position: relative;
  font-size: 13px;
  left: 3%;
  top: 2%;
}

h1 {
  text-align: center;
  font-size: 5em;
  height: 1.05em;
  margin: 0px;
  z-index: 10;
}

.temp-buttons p {
  position: relative;
  top: 1px;
  margin: 0px;
  left: 30%;
  width: 300px;
  height: 75px;
}

main button {
  right: 15%;
}

.outside-temp {
  position: relative;
  left: 9%;
  width: 300px;
  height: 75px;
  margin-bottom: 25px;
}

.outside-temp p {
  position: relative;
  top: 6px;
  left: 90%;
  width: 90px;
  border: none;
  font-size: 1.50em;
  color: white;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

#temperature-upButton, #temperature-downButton {
  position: relative;
  top: -5px;
  border: none;
  font-size: 2em;
  color: white;
  height: 1em;
  padding-top:1px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

#temperature-resetTemp {
  position: relative;
  top: 6px;
  margin-top: 15px;
  margin-left: -19px;
  border: none;
  font-size: 1.50em;
  color: white;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

#power-saving-mode {
  position: relative;
  top: 2px;
  border: none;
}

#power-saving-mode img {
  width: 20px;
}

.power-saving {
  right: 3%;
  bottom: 2%;
  text-align: right;
}

.power-saving button {
  right: -7px;
}